<h1>
  My Awesome Blog
</h1>
<p>
  Listen to me ramble on and on about things about Phoenix, Elm, React, Redux, Functional Programming, or a million other topics such as adorable kittens.
  Do you even really need to listen? Probably not! But sometimes I'll say things that are interesting that you may care about!
</p>
<%= link "View Posts", to: post_path(@conn, :index), class: "button large expanded" %>
